<div *ngIf="hero" class="bg" [style.background-image]="'url('+hero.portrait+')'">
  <h2 class="normtransparent"><span class="text">{{hero.name | uppercase}} Details</span></h2>
  <label class="norm"><span>id: </span>{{hero.id}}</label>
  <br>
  <br>
  <label class="norm">
    name:
    <input [(ngModel)]="hero.name" placeholder="name" />
    <br>
    <br>

    email:
    <input [(ngModel)]="hero.email" placeholder="email" />
    <br>
    <br>
  </label>
  <br>

  <label class="norm">
    <h5> portrait:</h5>
    <form (submit)="previewPortrait(heroPortrait.value); 
      heroPortrait.value=''">

      <input #heroPortrait placeholder="Inserisci URL immagine" />
      <button class="listAb" title="Anteprima immagine" (click)="previewPortrait ( hero.portrait)">
        <fa name="image" aria-hidden="true">-</fa>
      </button>
      <button class="listAb" title="Salva Madifica" (click)="changeOrAddHeroImage (hero.id, hero.portrait)">
        <fa name="save" aria-hidden="true">-</fa>
      </button>

    </form>
  </label>
  <!--
    <ul id="ull3" class="abilities">
      <h2>Hero abilities:</h2>
      <br>
      <li class="listAb" *ngFor="let ability of hero.listAbility">
        <button class="listAb" id="add" title="Elimina Abilità" (click)="delAbilityFromHero (hero.id, ability.id)">
          <fa name="minus" aria-hidden="true">-</fa>
        </button>
        <span> {{ability.ability}}</span> : <h5>"{{ability.description}}"</h5>
      </li>
    </ul>



    <br> -------------------------------------- <br>

    <li class="inl" *ngFor="let ability of abilities">
      Ability :
      <input [(ngModel)]="ability.ability" placeholder="Nome Abilità" />
      description:
      <h5> <input [(ngModel)]="ability.description" placeholder="Descrizione Abilità" /></h5>
      <button class="listAb" id="add" title="Salva Madifica" (click)="modifyAbility (ability.id, ability.ability, ability.description)">
        <fa name="save" aria-hidden="true">-</fa>
      </button>
      <br>
    </li>

    <br> -------------------------------------- <br>

  -->


  <ul id="listcCircular" class="norm">
    <h2><span class="text">Hero abilities:</span></h2>
    <br>
    <li id="inline" *ngFor="let ability of hero.listAbility">
      <button class="listAb" id="add" title="Elimina Abilità" (click)="delAbilityFromHero (hero.id, ability.id)">
        <fa name="minus" aria-hidden="true">-</fa>
      </button>
      Ability :
      <input [(ngModel)]="ability.ability" placeholder="Nome Abilità" />
      description:
      <h5> <input [(ngModel)]="ability.description" placeholder="Descrizione Abilità" /></h5>
      <button class="listAb" id="add" title="Salva Madifica" (click)="modifyAbility (ability.id, ability.ability, ability.description)">
        <fa name="save" aria-hidden="true">-</fa>
      </button>
      <br>
    </li>
  </ul>

  <br>
  <br>

  <div>
    <div *ngIf="sel === 1">
      <ul id="listcCircularTo">
        <h2>Avaiable abilities :</h2>
        <button (click)="sel=2">Switch To Select</button>
        <br>
        <li class="listAb" *ngFor="let ability of abilities">
          <button class="listAb" id="add" title="Aggiungi Abilità" (click)="addAbilityToHero (hero.id, ability.id)">
            <fa name="plus" aria-hidden="true">+</fa>
          </button>
          <span class="listAb"> {{ability.ability}} </span> :
          <h5> "{{ability.description}}"</h5>
        </li>
      </ul>
    </div>


    <div *ngIf="sel === 2" class="normtransparent">
      <mat-accordion>
        <h2 style="color: antiquewhite">
          Avaiable abilities :

        </h2>
        <button (click)="sel=1">Switch To List</button>

        <mat-expansion-panel class="norm">
          <mat-expansion-panel-header>
            <h3 style="color: antiquewhite">
              Select Avaiable abilities :

            </h3>
          </mat-expansion-panel-header>
          Abilità:

          <div *ngFor="let ability of abilities">
            <mat-expansion-panel>
              <mat-expansion-panel-header>

                <h4>
                  <button class="listAb" title="Aggiungi Abilità all'Eroe" (click)="addAbilityToHero (hero.id, ability.id)">
                    <fa name="plus" aria-hidden="true">+</fa>
                  </button>
                  {{ability.ability}}
                </h4>
              </mat-expansion-panel-header>

              descrizione: <h5> "{{ability.description}}" </h5>

            </mat-expansion-panel>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>


    <!--
    <h5>
        ____________________________________________________________________
      </h5>
    
    <div *ngIf="sel === 2">
      <div class="normtransparentselect">
        <h2 class="text">Avaiable abilities :</h2>
        <button (click)="sel=1">Switch To List</button>
        <br>
        <form class="abilities" (ngSubmit)="addAbilityToHero (hero.id, ability.id)">
          <select class="listcCircularToSel" [(ngModel)]="ability" name="ability">
            <option *ngFor="let ability of abilities" [ngValue]="ability">
              <span> {{ability.ability}}
                <h5> : "{{ability.description}}"</h5>
              </span>
            </option>
          </select>
          <button class="listAb" title="Aggiungi Abilità all'Eroe" type="submit" style="height:40px;width:40px">
            <fa name="plus" aria-hidden="true">+</fa>
          </button>
        </form>
      </div>
      <br>
      <br>
    </div>
  

  <h5>
    ____________________________________________________________________
  </h5>
  
-->
  </div>

  <div class="norm">
    <h2 class="text">Aggiungi nuova Abilità</h2>
    <form (submit)="addAbility(hero.id, abilityAbility.value
    , abilityDescription.value); abilityAbility.value=''; 
    abilityDescription.value=''">
      <label class="listAb" id="inline">
        Ability :
        <input #abilityAbility />
        description:
        <input #abilityDescription />
      </label>
      <button class="listAb" type="submit">
        <fa name="plus">Aggiungi </fa>
      </button>
    </form>
  </div>

  <label class="norm">
    <h5>
      <button (click)="save()">save</button>
      <button (click)="goBack()">go back</button>
    </h5>
  </label>


</div>
