/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: 0.5em 0;
  color: #567585;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
  width: 200px;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
h5 {
  display: inline;
}
#plus {
  display: inline;
  position: relative;
  color: #607d8b;
  font-weight: bold;
}
#add {
  height: 30px;
  color: #607d8b;
  font-weight: bold;
}

#ab {
  color: #607d8b;
  font-weight: bold;
}
#abilities {
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
}

#listcCircularTo {
  list-style-type: circle;
  margin: 0;
  background: #8eafbe;
  background: -webkit-linear-gradient(
    left bottom,
    #8eafbe,
    #8eafbe,
    #8eafbee8,
    #8eafbebb
  );
  padding: 20px;
  margin: 20px;
}
#listcCircular {
  list-style-type: circle;
  margin: 0;
  padding: 20px;
  margin: 20px;
}
.listcCircularToSel {
  -webkit-appearance: vertical;
  padding: 5px;
  width: auto;
  text-align: center;
  text-indent: 12px;
  list-style-type: circle;
  margin: 0;
  padding: 20px;
  margin: 20px;
}
.listAb {
  margin: 0;
  background: #35393d;
}
.listSel {
  padding: 5px;
  margin: 5px;
  background: #35393d;
  align-self: center;
}
.bg {
  height: 100%;
  background-position: center;
  background-color: black;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.norm {
  list-style-type: circle;
  margin: 0;
  background: #35393d;
  padding: 20px;
  margin: 20px;
}
.normtransparent {
  list-style-type: circle;
  margin: 0;
  background: -webkit-linear-gradient(
    left,
    #35393d,
    #35393d,
    #35393dbb,
    #35393dbb
  );
  padding: 20px;
  margin: 20px;
}
.normtransparentselect {
  list-style-type: circle;
  margin: 0;
  background: -webkit-linear-gradient(
    left bottom,
    #35393d,
    #35393d,
    #35393d,
    #35393dbb
  );
  padding: 20px;
  margin: 20px;
}
.text {
  color: rgb(168, 168, 168);
}
#inline {
  display: inline;
}
select {
  align-content: center;
  text-align: center;
  background: #cfd8dc;
}
.new {
  width: fit-content(300px, 20%);
}
