/* DashboardComponent's private CSS styles */
[class*="col-"] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*="col-"]:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  margin: 5px;
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 5px;
  text-align: center;
  color: #607d8b;
  max-height: 150px;
  min-width: 150px;
  background-color: #d5dbdf;
  border-radius: 2px;
  overflow: auto;

}
img {
  max-height: 90px;
  vertical-align: middle;
}
.module:hover {
  background-color: rgb(184, 219, 223);
  cursor: pointer;
  color: #426c81;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*="col-"]:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
