<h2>Sono presenti {{heroesNumber}} Eroi nella lista</h2>
<div class="bgperst">

  <div class="bg" [style.background-image]="'url('+wallpaper+')'">
    <div class="bgend">
      <div>
        <h2 class="nonefortitle">{{heroesNumberString}}</h2>
      </div>
      <div class="body">
        <div class="none">

          <table>
            <tr>
              <td>
                <button>
                  <fa name="sort-alpha-asc" size="1x" (click)="sortNameAsc()"></fa>
                </button>
              </td>
              <td>
                Sort Heroes by Name
              </td>
              <td>
                <button>
                  <fa name="sort-alpha-desc" size="1x" (click)="sortNameDesc()"></fa>
                </button>
              </td>
            </tr>
            <br>
            <tr>
              <td>
                <button>
                  <fa name="sort-numeric-asc" size="1x" (click)="sortIdMajor()"></fa>
                </button>
              </td>
              <td>
                Sort Heroes by Id
              </td>
              <td>
                <button>
                  <fa name="sort-numeric-desc" size="1x" (click)="sortIdMinor()"> </fa>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <br>
        <br>
        <br>
        <ul class="heroes">
          <li *ngFor="let hero of heroes">
            <a routerLink="/detail/{{hero.id}}">
              <span class="badge">{{hero.id}}</span> {{hero.name}}
            </a>
            <button id="addButton" class="delete" title="Elimina {{hero.name}}" (click)="delete(hero)">
              <fa name="trash" aria-hidden="true"></fa>
            </button>
          </li>
        </ul>
        <br>
        <form (submit)="add(heroName.value, heroEmail.value); heroName.value=''; heroEmail.value=''">
          <h2>Add New Hero</h2>
          <label>
            <h4 style="margin: 0">Hero name:</h4>
            <input #heroName />
          </label>
          <br>
          <label>
            <h4 style="margin: 0">Hero email:</h4>
            <input #heroEmail />
          </label>
          <br>
          <button type="submit">
            <fa name="user-plus" title="Aggiungi Eroe" size="3x">add</fa>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
