/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.heroes li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}

.heroes a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.heroes a:hover {
  color: #607d8b;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

#addButton {
  height: 25px;
  width: 28px;
  align-self: auto;
  align-content: center;
}

#addButton:hover {
  color: red;
}

.bgperst {
  background-image: url("http://minky.co/wp-content/uploads/2018/03/printable-superhero-logos-it-too-bad-although-the-avengers-logo-was-a-challenge-and.jpg");
  background-size: 100px;

}

.bg {
  height: 100%;
  background-size: contain;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.719);
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}

.bgend {
  margin: 0;
}

.body {
  width: fit-content;

  background: white;
  backface-visibility: inherit;
  background: -webkit-linear-gradient(left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0));
}

.addbox {
  position: relative;
  height: 200px;
  font-size: 1em;
  padding-left: 0.4em;
  width: 200px;
  background: #607d8bd3;
  color: black;
  vertical-align: middle;
  border-radius: 5px 5px 5px 5px;

  h2 {
    text-align: center;
    position: relative;
    margin-right: 0.4em;
    border-radius: 5px 5px 5px 5px;
    background-color: #1273a3;
    color: black;
    border: 2px;
    border-color: #1273a3
  }

  h4 {
    margin: 0;
  }

  input {
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;

    &:focus {
      border: 1px solid #3498db;
    }

    button {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 25px;
      height: 40px;
      border-radius: 5px;
      outline: 0;
    }
  }


}

.none {
  padding: 5px;
  margin: 5px;
  background: -webkit-linear-gradient(left,
    rgba(51, 50, 50, 0.9),
    rgba(51, 50, 50, 0.9),
    );
  align-self: center;
  height: fit-content;
  text-align: center;
  font-weight: bold;
}

.nonefortitle {
  padding: 5px;
  margin: 5px;
  background: -webkit-linear-gradient(left,
    rgba(51, 50, 50, 0.9),
    rgba(51, 50, 50, 0.9),
    );
  align-self: center;
  height: fit-content;
  text-align: center;
  font-weight: bold;
color: #1273a3;
}
